@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: no-wrap;
}

html {
  --img-url: url("./app/assets/images/bg-light.png");
}

html.dark {
  --img-url: url("./app/assets/images/bg-dark.png");
}

body {
  height: 100svh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--img-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.2s ease-in-out;
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
